*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*background color for sections*/
.header, .gallery, .education, .skills {
	background: #f7f7f7;
	-webkit-box-shadow: 0 0 8px -2px #c2c2c2;
	-moz-box-shadow: 0 0 8px -2px #c2c2c2;
	box-shadow: 0 0 8px -2px #c2c2c2;
}

body {
	font-size: 16px;
	font: 100% sans-serif;
	font-family: 'Work Sans', sans-serif;
	background-color: #ffffff;
	color: #777777;
}

/*basic section padding*/
.education, .skills, .spotlight, .experience, .intro, .gallery, .spotlight {
	padding: 4em 0;
}

h1, h2, h3 {
	font-family: 'Eczar', serif;
	font-weight: 800;
}

a {
	font-family: 'Work Sans', sans-serif;
	color: #3d6dbe;
	text-decoration: none;
	font-weight: 100;
}

a:focus,
a:hover {
	color: #6594e0;
}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	line-height: 1.8;
	font-weight: 100;
}

img {
	max-width: 100%;
}

.header-content-container {
	min-height: 75vh;
	position: relative;
}

.header-main {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

.header-image {
	position: absolute;
	top: 50%;
	max-width: 280px;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	border-radius: 200px;
}

.header-image img {
	border-radius: 200px;
}

.header-image::after {
	content: '';
	display: block;
	position: absolute;
	top: -1rem;
	bottom: -1rem;
	left: -1rem;
	right: -1rem;
	border-radius: 200px;
	border: 0.5rem solid #ff7730;
}

header h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ff7730;
	font-size: 2.8rem;
	line-height: 1rem;
	margin-top: 32px;
	margin-bottom: 16px;
}

ul.share-buttons {
	list-style: none;
	padding: 0;
}

ul.share-buttons li {
	display: inline;
}

ul.share-buttons .sr-only {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.social-icons {
	margin-bottom: 10px;
}

/*section styles*/

section h1 {
	font-size: 2em;
	text-align: left;
	margin-bottom: 1em;
	color: #ff7730;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
	font-size: 1em;
	margin-left: -10px;
	line-height: 1.8;
}

footer {
	margin-bottom: 1em;
	color: #888888;
}

footer hr {
	margin-top: 2em;
	margin-bottom: 1em;
}

.center {
	text-align: center;
}

.skills p {
	margin: 16px 0 4px 6px;
}

/* ------------------- Grid -------------------*/

.container {
	max-width: 50em;
	width: 92%;
	margin-right: auto;
	margin-left: auto;
}

.row {
	clear: both;
	margin-right: -1%;
	margin-left: -1%;
}

.row:before,
.row:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.row:after {
	clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
	*zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
	float: left;
	width: 100%;
	padding: 0 2%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 40em) {
	.grid-1 { width: 16.6666666%; }

	.grid-2 { width: 33.3333333%; }

	.grid-3 { width: 50%; }

	.grid-4 { width: 66.6666666%; }

	.grid-5 { width: 83.3333333%; }

	.grid-6 { width: 100%; }

}

/* -------------------Custom Blocks----------------- */
.gallery {
	height: 700px;
}

.gallery__content {
	position: relative;
	transition: all .3s
}

.gallery__content ::after {
	content: "";
	clear: both;
	display: table;
}

.gallery__photo {
	max-width: 40%;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 10;
	transition: all .3s;
}

.gallery__photo--p1 {left: 0;top: 0}

.gallery__photo--p2 {right: 120px;top: 20px}

.gallery__photo--p3 {left: 150px;top: 100px}

.gallery__photo--p4 {right: 80px;top: 180px}

.gallery__photo--p5 {
	left: 0;
	top: 280px;
}

.gallery__photo:hover {
	transform: scale(1.5) translateY(-1rem);
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
	z-index: 11
}

.gallery__content:hover .gallery__photo:not(:hover) {
	transform: scale(0.9);
}

@media screen and (min-width: 40em) {
	.gallery .grid-2 {
		width: 33.3333333%;
	}
}

/* Experience */
.experience [class*="row"] {
	border-bottom: dotted 1px #cccccc;
	padding-top: 1em;
	padding-bottom: 1em;
}

.experience h2 {
	margin-bottom: 0;
}

.experience [class*="row"]:last-of-type {
	border: none;
}

@media screen and (min-width: 40em) {
	.experience h2, .experience p {
		text-align: left;
	}
}

/* Education Block */
.degree-title {
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
}

/* Spotlight */

.spotlight__sub-title {
	margin: 1em 0;
	line-height: 1.6em;
}

.spotlight img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 5px solid #ffffff;
	border-radius: 5px;
}

.spotlight p {
	color: #6d5e53;
	font-size: 1.1em;
}

.spotlight a {
	background-color: transparent;
	border: 3px solid #777777;
	padding: 7px 35px;
	border-radius: 3px;
	display: inline-block;
	margin-top: 20px;
}

.spotlight a:hover {
	opacity: 1;
	cursor: pointer;
}

@media screen and (min-width: 40em) {

	.spotlight h1, .spotlight p {
		text-align: left;
	}

}

.progress {
	background: #ff7730;
	border-radius: 25px;
	height: 28px;
}

.progress-bar-custom {
	display: block;
	height: 28px;
	border-radius: 25px 0 0 25px;
	background-color: #ffb900;
}

.progress-inverse {
	background-color: #ffb900;
}

.progress-inverse .progress-bar-custom {
	background: #ff7730;
}

p strong {
	font-weight: bold;
}

footer {
	margin-top: 60px;
}

footer .copy-right {
	font-family: 'Eczar', serif;
	text-decoration: underline;
	color: #6d6868;
}

/*utilities*/

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}